.main-color {
    color: #fc0254;
}

.secondary-color {
    color: #8990a2;
}

.main-bg-color {
    background-color: #0a183d;
}

.main-bg-button-color {
    background-color: #fc0254;
}

 .secondary-bg-button-color {
     background-color: #383b70;
 }

 .left-border {
     border-left: 2px solid #c3c3c3;
 }

.section_par {
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 50px 0 0;
}

.button-holder__button {
    box-sizing: border-box;
    border-radius: 50px;
    min-width: 195px;
    padding: 25px 20px 25px;
    margin-right: 15px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}