.main-color {
    color: #fc0254;
}

.secondary-color {
    color: #0a183d;
}

.third-color {
    color: #8990a2;
}

.images {
    width: 100%;
    height: auto;
}

.main-bg-color {
    background-color: #0a183d;
}

.white-bg-color {
	background-color: #fff;
}

.main-bg-button-color {
    background-color: #fc0254;
}

.secondary-bg-button-color {
 background-color: #383b70;
}

.section_par {
    font-size: 15px;
    line-height: 27px;
}

.mb50 {
    margin-bottom: 50px;
}

.button-holder {
    display: flex;
    justify-content: flex-start;
}

.button-holder__button {
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    max-width: 195px;
    padding: 25px 20px 25px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-holder__button:hover {
    cursor: pointer;
}

.container_circle {
    background-color: #fc0254;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.img_check-icon {
    margin: 15px;
}