body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #0a183d;
}

.nav {
    background-color: #08192d;
    padding: 44px 25px;
    display: flex;
    justify-content: space-between;
}
.nav_logo {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav_logo-highlight {
    color: #fc0254;
}
 .nav_list {
     display: flex;
     justify-content: space-around;
 }
 .nav_item {
     padding: 0 14px;
     line-height: 1.5;
     cursor: pointer;
     transition: .3s color;
 }

.nav_item__hover:hover {
    color: #fc0254;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 105px 90px 105px;
}

.section-left {
    min-width: 480px;
    max-width: 50%;
    flex-basis: 48%;
}

.section-right {
	display: flex;
	flex-direction: column;
	max-width: 48%;
}

.section-title_first {
    font-size: 70px;
    font-weight: 600;
    line-height: 63px;
    margin: 0 0 30px;
}

.section-second {
    background-color: #ffffff;
}

.section-title_second {
    color: #0a183d;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}


