body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #0a183d;
}

.nav {
    background-color: #08192d;
    padding: 44px 25px;
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.nav_item {
    padding: 0 14px;
    line-height: 1.5;
    cursor: pointer;
    transition: .3s color;
}

.nav_item__hover:hover {
    color: #fc0254;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 95px 90px 95px;
}

.footer-section {
    padding: 65px 40px 65px;
}

.display-f {
    display: flex;
    justify-content: space-between;
}

.display-center {
    display: flex;
    justify-content: center;
}

.section-block {
    max-width: 50%;
    flex-basis: 48%;
    padding: 0 15px 0;
}

.block {
    flex-basis: 50%;
}

.main-title {
    font-size: 70px;
    font-weight: bold;
    line-height: 63px;
    margin-bottom: 30px;
}

.secondary-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 30px;
}

.title-h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.img-bg-color {
    background-image: url("../images/how-to-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-third_container_item {
    width: 33%;
    padding: 0 15px 0;
}

.section-third_img {
    padding-top: 16px;
    padding-left: 32px;
}

.section_item {
    width: 48%;
    padding: 35px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-fourth_img {
    width: 220px;
    height: 220px;
    border-radius: 15%;
    margin-bottom: 15px;
}

.title-h5 {
    color: #0a183d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title-h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.inner-part {
    background-color: #1c294a;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.section_list {
    padding: 75px 0 75px;

}

.list_item {
    font-size: 18px;
}

.section-sixth_img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.copyright {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 0 25px;
}

.footer-h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer_list {
    width: 33%;
    padding: 0 15px 0;
}

.footer_list_item {
    font-size: 14px;
    margin-bottom: 15px;
}

.mr15 {
    margin-right: 15px;
}

.flex-end {
    align-self: flex-end;
}

.left-border {
    border-left: 2px solid #c3c3c3;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.invisible {
    display: none;
}