@media screen and (min-device-width: 577px) and (max-device-width: 768px) {

    .nav {
        padding: 40px 30px 40px;
    }

    .nav_logo {
        font-size: 20px;
    }

    .section {
        padding: 40px 30px 40px;
    }

    .footer-section {
        padding: 40px 30px 40px;
    }

    .container {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-column {
        display: flex;
        flex-direction: column;
    }

    .display-row {
        display: flex;
        justify-content: center;
    }

    .align-left {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-left: 20px;
    }

    .align-right {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: flex-end;
        text-align: end;
        margin-right: 20px;
    }

    .section-block {
        max-width: 100%;
        padding: 0 0 0;
    }

    .button-holder {
        display: flex;
        justify-content: center;
    }

    .button-holder__button {
        box-sizing: border-box;
        border-radius: 50px;
        width: 100%;
        max-width: 175px;
        padding: 18px 12px 18px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .img-bg-color {
        background-image: none;
    }

    .section-third_container_item {
        width: 90%;
        padding: 0 0 0;
    }

    .section_item {
        width: 48%;
        flex-basis: 50%;
        padding: 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inner-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 75%;
        margin: 0 auto;
    }

    .section_list {
        padding: 20px 0 20px;
    }

    .main-title {
        font-size: 55px;
        font-weight: bold;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .secondary-title {
        font-size: 45px;
        font-weight: bold;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .title-h3 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .title-h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .title-h5 {
        color: #0a183d;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .section_par {
        font-size: 14px;
        line-height: 17px;
    }

    .container_circle {
        background-color: #fc0254;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .section-third_img {
        width: 72%;
        height: 85%;
        padding-top: 7px;
        padding-left: 21px;
    }

    .section-fourth_img {
        width: 180px;
        height: 180px;
        border-radius: 15%;
        margin-bottom: 15px;
    }

    .section-sixth_img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-bottom: 25px;
    }

    .footer_list {
        width: 100%;
        padding: 0 0 0;
    }

    .footer-h2 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .footer_list_item {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .copyright {
        font-size: 13px;
        padding: 10px 0 0;
    }

    .mb25 {
        margin-bottom: 25px;
    }

    .ordered {
        order: 1;
    }

    .flex-end {
        align-self: flex-start;
    }

    .left-border {
        border-left: none;
    }
}